<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Like Me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tweet Like Me</h1>
    <p>Send tweets to <a href='https://twitter.com/TweetLikeMeBot'>@TweetLikeMeBot</a></p>
  </body>
</html>
